<div class="plant-and-button">
    <div class="plant-image">
        <img src="Plant_for_Final_Project.jpg" alt="Flower">
        <!-- "https://vignette.wikia.nocookie.net/villains/images/4/43/Flowey_the_Flower.jpg/revision/latest?cb=20160129183256 -->
    </div>
    <div class="talk-bubble round" class="hidden-bubble">
        <div class="talktext">
            <p>about the plant</p>
        </div>
    </div>

    <div class="tool-buttons">
        <div class=button>
            <div class="button-contents">
                <button class="water">Water</button>
            </div>
        </div>

        <div class=button>
            <div class="button-contents">
                <button class="fertilize">Fertilize</button>
            </div>
        </div>

        <div class=button>
            <div class="button-contents">
                <button class="sunlight">Sunlight</button>
            </div>
        </div>

        <div class=button>
            <div class="button-contents">
                <button class="rename">Rename</button>
            </div>
        </div>

        <div class=button>
            <div class="button-contents">
                <button class="about">About</button>
            </div>
        </div>

        <div class=button>
            <div class="button-contents">
                <button class="uproot">Uproot</button>
            </div>
        </div>
    </div>
</div>